id = "ruby"
name = "Ruby"
description = "Ruby support."
version = "0.13.5"
schema_version = 1
authors = ["Vitaly Slobodin <vitaliy.slobodin@gmail.com>"]
repository = "https://github.com/zed-extensions/ruby"
snippets = "snippets.json"

[language_servers.solargraph]
name = "Solargraph"
languages = ["Ruby"]

[language_servers.ruby-lsp]
name = "Ruby LSP"
languages = ["Ruby", "ERB", "HTML/ERB", "YAML/ERB", "JS/ERB"]

[language_servers.ruby-lsp.language_ids]
"Ruby" = "ruby"
"ERB" = "erb"
"HTML/ERB" = "erb"
"YAML/ERB" = "erb"
"JS/ERB" = "erb"

[language_servers.rubocop]
name = "Rubocop"
languages = ["Ruby"]

[language_servers.steep]
name = "Steep"
languages = ["Ruby"]

[language_servers.sorbet]
name = "Sorbet"
languages = ["Ruby"]

[language_servers.herb]
name = "Herb"
languages = ["HTML/ERB"]

[grammars.ruby]
repository = "https://github.com/tree-sitter/tree-sitter-ruby"
commit = "71bd32fb7607035768799732addba884a37a6210"

[grammars.embedded_template]
repository = "https://github.com/tree-sitter/tree-sitter-embedded-template"
commit = "332262529bc51abf5746317b2255ccc2fff778f8"

[grammars.rbs]
repository = "https://github.com/joker1007/tree-sitter-rbs"
commit = "de893b166476205b09e79cd3689f95831269579a"

[[capabilities]]
kind = "process:exec"
command = "gem"
args = ["install", "--norc", "--no-user-install", "--no-format-executable", "--no-document", "*"]

[[capabilities]]
kind = "process:exec"
command = "gem"
args = ["uninstall", "--norc", "*", "--version", "*"]

[[capabilities]]
kind = "process:exec"
command = "gem"
args = ["list", "--norc", "--exact", "*"]

[[capabilities]]
kind = "process:exec"
command = "bundle"
args = ["info", "--version", "*"]

[[capabilities]]
kind = "process:exec"
command = "gem"
args = ["outdated", "--norc"]

[[capabilities]]
kind = "process:exec"
command = "gem"
args = ["update", "--norc", "*"]

[debug_adapters.rdbg]
[debug_locators.ruby]
