id = "ruby"
name = "Ruby"
description = "Ruby support."
version = "0.5.6"
schema_version = 1
authors = ["Vitaly Slobodin <vitaliy.slobodin@gmail.com>"]
repository = "https://github.com/zed-extensions/ruby"

[language_servers.solargraph]
name = "Solargraph"
languages = ["Ruby"]

[language_servers.ruby-lsp]
name = "Ruby LSP"
languages = ["Ruby", "ERB"]

[language_servers.rubocop]
name = "Rubocop"
languages = ["Ruby"]

[grammars.ruby]
repository = "https://github.com/tree-sitter/tree-sitter-ruby"
commit = "71bd32fb7607035768799732addba884a37a6210"

[grammars.embedded_template]
repository = "https://github.com/tree-sitter/tree-sitter-embedded-template"
commit = "332262529bc51abf5746317b2255ccc2fff778f8"

[grammars.rbs]
repository = "https://github.com/joker1007/tree-sitter-rbs"
commit = "de893b166476205b09e79cd3689f95831269579a"
